.ball{
width:650;
height:38px;
 background-image: url('images/blockheader4.png');
font: Palatino Linotype}
}
.ball3{
width:650;
height:38px;
 background-image: url('images/blockheader4.png');
font: Palatino Linotype}
}